@model ClinicManagementSystem.Models.Patient
<link rel="stylesheet" href="~/css/detailsPatients.css" />
@{
    ViewData["Title"] = "Chi tiết thông tin bệnh nhân";
}

<h1>Chi tiết thông tin bệnh nhân</h1>

<div>
    <h4>Bệnh nhân</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa thông tin bệnh nhân</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>

<h4>Lịch hẹn của bệnh nhân</h4>
@if (Model.Appointments != null && Model.Appointments.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Ngày hẹn</th>
                <th>Lý do</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var appointment in Model.Appointments)
        {
            <tr>
                <td>@appointment.ScheduledAt.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@appointment.Reason</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Không có lịch hẹn nào cho bệnh nhân này.</p>
}
